[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydicom = "*"
pylibjpeg = "*"
torch = "*"
pandas = "*"
pylibjpeg-libjpeg = "*"
torchvision = "*"
Pillow = "*"
matplotlib = "*"
tqdm = "*"
tensorflow = "*"
scikit-learn = "*"
numpy = ">=1.20"
typeguard = "*"
deprecation = "*"

[dev-packages]
ipykernel = "*"
pyls-mypy = "*"
jupyterlab = "*"

[requires]
python_version = "3.9"

[dev-packages.python-lsp-server]
extras = [ "all",]
