[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydicom = "*"
pylibjpeg = "*"
torch = "*"
pandas = "*"
pylibjpeg-libjpeg = "*"
torchvision = "*"
Pillow = "*"
matplotlib = "*"
tqdm = "*"
scikit-learn = "*"
numpy = ">=1.20"
typeguard = "*"
deprecation = "*"
singledispatchmethod = "*"
scikit-image = "*"

[dev-packages]
ipykernel = "*"
jupyterlab = "*"
ipywidgets = "*"
python-lsp-server = {extras = ["all"], version = "*"}
pyls-mypy = "*"

[requires]
python_version = "3.7"
